header.header.bg-green-blue
      nav
        ul.d-flex.flex-row.align-items-center.list-style-none.m-0.px-4
          li.p-2.flex-grow-1
            a.text-decoration-none.fs-5.text-white(href="/")
              img(src="/img/logo.png", alt="Logo de la pagina")
              span.fst-italic HospitalHorizon
          li.p-2
            a.btn-register(href="/recepcion")
              span Recepcion
          li.p-2
            a.btn-sesion(href="/enfermero")
              span Enfermero
          li.p-2
            a.btn-sesion(href="/medico")
              span Medico