aside.col-2.aside.bg-green-blue.p-0
  nav
    ul.list-style-none.m-0.ps-4.pe-3
      li.fs-5.mt-3.mb-5
        p.ms-2.text-white Menu

      li
        a.option(href="/recepcion")
          img.icon(src="/img/casa.png", alt="Icono de Home")
          span Home

      li.cont-option.mt-3
        button.btn-list(onclick="toggleList('listOne')")
          img.icon(src="/img/paciente.png", alt="")
          span  Gestión de Pacientes
        ul.list#listOne
          li.list-elem: a.text-white.text-decoration-none(href="/recepcion/buscar") Buscar Paciente
          li.list-elem: a.text-white.text-decoration-none(href="/recepcion/registrar") Registrar Paciente
          li.list-elem: a.text-white.text-decoration-none(href="/recepcion/admitir") Admitir
      li.cont-option.mt-3
        button.btn-list(onclick="toggleList('listTwo')")
          img.icon(src="/img/paciente.png", alt="")
          span  Emergencia
        ul.list#listTwo
          li.list-elem: a.text-white.text-decoration-none(href="/recepcion/emergencia") Admision de Emergencia
          li.list-elem: a.text-white.text-decoration-none(href="/recepcion/listEmergencia") Lista de Emergencia
      li
        a.option.mt-3(href="/recepcion/camas")
          img.icon(src="/img/casa.png", alt="Icono de Home")
          span Gestionar Camas