extends ../layout
block content
  include ../compartido/header
  section.row.h-100.section
    include aside
    main.col-10.main-bg-img
      .contenedor
        h2.mb-4.text-center.mt-4 Registrar Paciente

        form#registro-form.d-flex.flex-column.align-items-center(action="/recepcion/registrar" method="POST")
          .border.p-3.mb-4.seccion-form.col-7.rounded
            legend.fw-bold.mb-4 Datos del Paciente
            .row 
              .col-md-4.mb-3
                label.form-label(for="dni") DNI
                input.form-control(type="number", name="dni", value= dni, required)

              .col-md-4.mb-3
                label.form-label(for="nombre") Nombre
                input.form-control(type="text", name="nombre", required)

              .col-md-4.mb-3
                label.form-label(for="apellido") Apellido
                input.form-control(type="text", name="apellido", required)

              .col-md-4.mb-3
                label.form-label(for="fechaNacimiento") Fecha de Nacimiento
                input.form-control(type="date", name="fechaNacimiento", required)

              .col-md-4.mb-3
                label.form-label(for="genero") Sexo
                select.form-select(name="genero", required)
                  option(value="", selected disabled) -- Seleccione --
                  option(value="Masculino") Masculino
                  option(value="Femenino") Femenino


              .col-md-4.mb-3
                label.form-label(for="nacionalidad") Nacionalidad
                select.form-select(name="nacionalidad", required)
                  option(value="", selected disabled) -- Seleccione --
                  each n in nacionalidades
                    option(value=n.id)= n.nombre

              .col-md-12.mb-3
                label.form-label(for="domicilio") Domicilio
                input.form-control(type="text", name="domicilio", required)

              .col-md-6.mb-3
                label.form-label(for="email") Email
                input.form-control(type="email", name="email", required)

              .col-md-6.mb-3
                label.form-label(for="telefono") Teléfono
                input.form-control(type="number", name="telefono", required)
          .text-center.mt-4
            button.btn.btn-primary.fixed-submit(type="submit") Registrar Paciente
        // Modal de confirmación
      div#confirmModal.modal.fade(tabindex="-1")
        .modal-dialog
          .modal-content
            .modal-header.bg-info
              h5.modal-title ¿Confirmar registro?
              button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            .modal-body.bg-light-subtle
              p.fs-5 ¿Estás seguro de que todos los datos ingresados son correctos?
            .modal-footer.bg-light.py-0.py-1
              button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancelar
              button#confirmarEnvio.btn.btn-primary(type="button") Confirmar
  script.
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("registro-form");
      const submitButton = form.querySelector("button[type='submit']");
      const confirmModal = new bootstrap.Modal(document.getElementById("confirmModal"));
      let confirmed = false;

      form.addEventListener("submit", function (e) {
        if (!confirmed) {
          e.preventDefault();
          confirmModal.show();
        }
      });

      document.getElementById("confirmarEnvio").addEventListener("click", function () {
        confirmed = true;
        confirmModal.hide();
        form.submit(); // ahora sí se envía
      });
    });




