<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Horizon</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header bg-green-blue">
    <nav>
      <ul class="d-flex flex-row align-items-center list-style-none m-0 px-4">
        <li class="p-2 flex-grow-1">
          <a class="text-decoration-none fs-5 text-white" href="javascript:void(0)">
            <img src="/img/logo.png" alt="Logo de la pagina">
            <span class="fst-italic">HospitalHorizon</span>
          </a>
        </li>
        <li class="p-2">
          <a class="btn-register" href="javascript:void(0)">
            <img class="register-icon icon-b" src="/img/lapiz.png" alt="Icono de Sign In">
            <span>Sign Up</span> <!-- Registrarse -->
          </a>
        </li>
        <li class="p-2">
          <a class="btn-sesion" href="javascript:void(0)">
            <img class="icon-b" src="/img/entrar.png" alt="Icono de Sign In">
            <span>Sign In</span> <!-- Iniciar Sesion-->
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <section>
    <aside>
      <nav>
        <ul>
          <li>
            <p>Menu</p>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="/img/casa.png" alt="Icono de Home">
              <span>Home</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <div>
        <h2>Bienvenidos al Portal Médico de Hospital Horizon</h2>
        <p>Este espacio ha sido diseñado especialmente para ustedes,
          profesionales de la salud, con el
          objetivo de brindar una plataforma moderna, segura y eficiente para acceder a información clínica,
          gestionar turnos, revisar historiales médicos, y mantenerse al tanto de las novedades institucionales.
        </p>
        <p>Como parte fundamental del equipo Hospital Horizon, su compromiso
          con la atención médica de calidad es
          invaluable. Esta plataforma busca facilitar su labor diaria, fomentar la colaboración interdisciplinaria y
          garantizar el acceso oportuno a los recursos necesarios para una atención centrada en el paciente.
        </p>
        <p>¡Gracias por su dedicación y profesionalismo!
        </p>
      </div>
    </main>
  </section>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>