<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Horizon</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="javascript:void(0)">
            <img src="/img/logo.png" alt="Logo de la pagina">
            <span>HospitalHorizon</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <img src="/img/lapiz.png" alt="Icono de Sign In">
            <span>Sign Up</span> <!-- Registrarse -->
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <img src="/img/entrar.png" alt="Icono de Sign In">
            <span>Sign In</span> <!-- Iniciar Sesion-->
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <section>
    <aside>
      <nav>
        <ul>
          <li>
            <p>Menu</p>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="/img/casa.png" alt="Icono de Home">
              <span>Home</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <div>
        <h2>Bienvenidos al Portal Médico de Hospital Horizon</h2>
        <p>Este espacio ha sido diseñado especialmente para ustedes,
          profesionales de la salud, con el
          objetivo de brindar una plataforma moderna, segura y eficiente para acceder a información clínica,
          gestionar turnos, revisar historiales médicos, y mantenerse al tanto de las novedades institucionales.
        </p>
        <p>Como parte fundamental del equipo Hospital Horizon, su compromiso
          con la atención médica de calidad es
          invaluable. Esta plataforma busca facilitar su labor diaria, fomentar la colaboración interdisciplinaria y
          garantizar el acceso oportuno a los recursos necesarios para una atención centrada en el paciente.
        </p>
        <p>¡Gracias por su dedicación y profesionalismo!
        </p>
      </div>
    </main>
  </section>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>